.produtImage {
  width: 100px;
  height: 70px;
  background-color: #fff3e3e5;
  border-radius: 8px;
  padding: 10px;
}
.product-image {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.table > :not(caption) > * > * {
  padding: 1.5rem 1.5rem;
  box-shadow: none;
  border: none;
}

table {
  width: 800px;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: auto;
}
thead tr {
  border-radius: 10px;
}
.table > tbody {
  vertical-align: middle;
}
.scrollTable {
  width: 800px;
  overflow-x: auto;
}
thead th {
  background: #fff3e3e5;
  padding: 20px 30px;
}
.btns {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #fff3e3e5;
}

.buy {
  background-color: #fff3e3e5;
  padding: 30px 20px;
  height: fit-content;
  width: 450px;
}
.buyBtn {
  padding: 10px 50px;
  text-align: center;

  background-color: transparent;
  border: 2px solid #b88e2f;
  color: #b88e2f;
  font-weight: 500;
  border-radius: 10px;
  transition: 1s all ease-in;
  cursor: pointer;
  &:hover {
    background-color: #b88e2f;
    color: #fff;
  }
}

.btnDelte {
  padding: 10px 30px;
  text-align: center;

  background-color: #d83333;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  transition: 1s all ease-in;
  outline: none;
  border: none;
}

@media screen and (max-width: 900px) {
  .cart {
    flex-wrap: wrap !important;
  }
}

@media screen and (max-width: 450px) {
  .buyRouter {
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 30px;
  }
  .buyRouter button {
    display: block;
    width: 90%;
  }
}
