<div class="container-fluid  p-5 pb-2">
 
    <div class="footer d-flex align-items-center justify-content-around flex-wrap ">
         <div class="rightFooter w-25">

            <img src="assets/Image/logo.png" alt="" class="imgFooter">
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، 
                لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن
                 تولد مثل هذا النص</p>
         </div>
         <div class="medalFooter">
              <h4>أقسام</h4>
            <ul>
                <li><a href="">أدوات المطبخ</a></li>
                <li><a href="">أكسسوارات منزلية</a></li>
                <li><a href="">أدوات منزلية</a></li>
                <li><a href="">الكترونيات</a></li>
            </ul>
         </div>

         <div class="leftFooter">


            <h2>أقسام</h2>
            <ul>
                <li><a href="">أدوات المطبخ</a></li>
                <li><a href="">أكسسوارات منزلية</a></li>
                <li><a href="">أدوات منزلية</a></li>
                <li><a href="">الكترونيات</a></li>
            </ul>
         </div>

    </div>

    <hr>

    <h5 class="text-center mt-4">ستور© 2024جميع الحقوق محفوظة   </h5>
</div>