<div class="editData p-2">
    <div class="dataInfo d-flex align-items-md-center gap-3 p-2">
      <div class="photo position-relative">
        <img [src]="selectedImage || '../../../assets/Image/man.png'" class="rounded-circle" [alt]="userItems.name"
             width="80px" height="80px">
        <input #fileInput type="file" class="visually-hidden" (change)="onFileSelected($event)" accept="image/*">
        <i class="fa fa-camera position-absolute add-icon" (click)="fileInput.click()" aria-hidden="true"></i>
      </div>
      <div class="info">
        <h4 class="mb-2">{{ userItems.name }}</h4>
        <p>تغيير الصورة الشخصية</p>
      </div>
    </div>
    
    <form class="sendData d-flex flex-column" (ngSubmit)="updateData(updateMe)" [formGroup]="updateMe">
      <div *ngIf="isloading">Loading...</div>
      <div class="inputsData d-flex gap-5 w-100">
        <div class="my-5 w-50">
          <label for="name" class="form-label mb-4">اسم المستخدم</label>
          <input type="text" class="form-control w-100" id="name" formControlName="name" placeholder="ادخل اسم المستخدم">
          <div *ngIf="updateMe.controls.name?.invalid && updateMe.controls.name?.touched" class="text-danger">
            اسم المستخدم غير صالح.
          </div>
        </div>
        
        <div class="my-5 w-50">
          <label for="email" class="form-label mb-4">البريد الالكتروني</label>
          <input type="email" class="form-control w-100" [value]="userItems.email" disabled placeholder="ادخل البريد الالكتروني">
        </div>
      </div>
      
      <div class="d-flex gap-3">
        <button [disabled]="isloading || updateMe.invalid" class="btns btnEdit">
          <span *ngIf="!isloading">تعديل البيانات <i class="bi me-3 bi-pencil-square"></i></span>
          <span *ngIf="isloading">جارٍ تعديل المنتج...</span>
        </button>
        <a routerLink="/Personal/me" class="btns text-bg-danger text-center">الغاء التغييرات</a>
      </div>
    </form>
  </div>
  