<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <!-- Carousel Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Carousel Items -->
  <div class="carousel-inner">
    <!-- First Slide -->
    <div class="carousel-item active" style="background-image: url('assets/Image/Homebanner.png'); background-size: cover; background-position: center; height: 78vh;">
      <div class="d-flex flex-column align-items-start justify-content-center cards">
        <span>جديد</span>
        <h1>اكتشف مجموعتنا الجديدة</h1>
        <p>أكتشف افضل منتجاتنا الجديدة والراقية التي تناسب ذوقك.</p>
        <button class="btnbuys">اطلب الأن</button>
      </div>
    </div>

    <!-- Second Slide -->
    <div class="carousel-item" style="background-image: url('assets/Image/Homebanner.png'); background-size: cover; background-position: center; height: 78vh;">
      <div class="d-flex flex-column align-items-start justify-content-center cards">
        <span>حصري</span>
        <h1>أفضل مجموعه من المنتجات</h1>
        <p>منتجات حصرية بجودة عالية تناسب احتياجاتك.</p>
        <button class="btnbuys">تسوق الآن</button>
      </div>
    </div>

    <!-- Third Slide -->
    <div class="carousel-item" style="background-image: url('assets/Image/Homebanner.png'); background-size: cover; background-position: center; height: 78vh;">
      <div class="d-flex flex-column align-items-start justify-content-center cards">
        <span>    الخصومات</span>
        <h1>عروض مميزة افضل</h1>
        <p>احصل على خصومات تصل إلى 50٪ على جميع منتجاتنا.</p>
        <button class="btnbuys">اكتشف الان</button>
      </div>
    </div>
  </div>

      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

 
</div>
