<div id="carouselExampleIndicators" class="carousel carousell slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner carousell">
        <!-- First slide with background image -->
        <div class="carousel-item active" data-bs-interval="2000" style="
        background-image: url(assets/Image/Homebanner.png);
        background-size: cover;
        background-position: center;
        height: 78vh;
      ">
            <div class="d-flex flex-column cards">
                <span>جديد</span>
                <h1>اكتشف مجموعتنا <br />الجديدة</h1>
                <p>أكتشف افضل منتجاتنا الجديدة والراقية التي تناسب ذوقك.</p>
                <button class="btnbuys">اطلب الأن</button>
            </div>
        </div>

        <!-- First slide with background image -->
        <div class="carousel-item " data-bs-interval="2000" style="
          background-image: url(assets/Image/Homebanner.png);
          background-size: cover;
          background-position: center;
          height: 78vh;
        ">
            <div class="d-flex flex-column cards">
                <span>جديد</span>
                <h1>اكتشف مجموعتنا <br />الجديدة</h1>
                <p>أكتشف افضل منتجاتنا الجديدة والراقية التي تناسب ذوقك.</p>
                <button class="btnbuys">اطلب الأن</button>
            </div>
        </div>


        <!-- First slide with background image -->
        <div class="carousel-item " data-bs-interval="2000" style="
      background-image: url(assets/Image/Homebanner.png);
      background-size: cover;
      background-position: center;
      height: 78vh;
    ">
            <div class="d-flex flex-column cards">
                <span>جديد</span>
                <h1>اكتشف مجموعتنا <br />الجديدة</h1>
                <p>أكتشف افضل منتجاتنا الجديدة والراقية التي تناسب ذوقك.</p>
                <button class="btnbuys">اطلب الأن</button>
            </div>
        </div>


    </div>
</div>