<nav class="d-flex align-items-center justify-content-around subnav ">
    <div class="scroll-container">
        <div class="scroll-content">
            <div class="offer d-flex align-items-center gap-4 offercontact">

                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>
                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>
                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>
                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>

                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>


                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>

                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>


                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>


                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>


                <div class="offer">
                    <p class="m-0">الصيف قادم! خصم 50% بمناسبة العام الجديد</p>
                </div>
            </div>
          
            
            
        </div>

        
    </div>
</nav>
