
.sliderFav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px 0;
    
}
.sliderFav .slied {
    text-align: center;
    cursor: pointer;
}
.sliderFav .slied img{
    height: 500px;
    object-fit: fill;


    border-radius: 10px;
    filter: brightness(.5);
    transition: 1s ease-in-out all;

}
.btnFav{
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    padding: 15px 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #815e0d8f;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: 2s ease-in-out background-color;
    cursor: pointer;
    &:hover{
        background: #F9C335;
    }
}












.viewAll{
    background: rgba(252, 248, 243, 1);
    padding: 20px 20px;

}
.infoView h2{
    font-size: 35px;
    color: #000;
    font-weight: 700;
}
.carouselviewAll{
    width: 350px !important;
    position: relative;
}
.indicatorView{
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
   

}

.ImageView img{
    width: auto;
    height: 400px;
    object-fit: fill;
    border-radius: 5px;
}
.session3 {
    display: block;
}
@media screen and (max-width : 1200px) {
    .viewAll{
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        gap: 50px;
    }
}
@media screen and (max-width : 800px) {
    .session3 {
        display: none;
    }
    .indicatorView{
        justify-content: center;
    }
    .btnbuys{
        width: 80%;
    }
    .infoView h2{
        font-size: 28px;

    }

}
@media screen and (max-width : 400px) {
 
    .btnbuys{
        width: 100%;
    }



    .carouselviewAll[_ngcontent-ng-c2911606032] {
        
        width: 300px !important;
        margin-bottom: 50px;
    }

    .infoView h2{
        font-size: 25px;

    }
}
