<div class="container-fluid p-0 m-0">

    <!-- carousel  -->
     <app-slider></app-slider>
    <!-- End carousel  -->
    <!-- Catecoris -->
    <app-categories [departments]="departmentHome" [isLoadingDepart]="isLoadingDepart"></app-categories>
    <!-- End Catecoris -->

    <!-- Start  Favorite -->
    <div class="Favorite  text-center my-5">
        <h2 class="fw-bolder"> شاهد افضل المنتجات</h2>

        <p class="fw-medium text-body-tertiary">تطلع الان علي افضل المنتجات العصرية </p>
        <div class="sliderFav ">

            <div class="slied  position-relative">
                <img src="assets/Image/favone.png" class="d-block " alt="...">

                <button class="position-absolute btnFav">شراء</button>

            </div>
            <div class="slied position-relative">
                <img src="assets/Image/favtwo.png" class="d-block " alt="...">
                <button class="position-absolute btnFav">شراء</button>


            </div>
            <div class="slied position-relative">
                <img src="assets/Image/favthree.png" class="d-block " alt="...">
                <button class="position-absolute btnFav">شراء</button>


            </div>
            <div class="slied position-relative">
                <img src="assets/Image/favone.png" class="d-block " alt="...">
                <button class="position-absolute btnFav">شراء</button>


            </div>

        </div>

    </div>

     <!-- Products -->
     <h2 class="fw-bolder my-5 text-center">منتجاتنا</h2>

      <app-products [Prodcuts]="Prodcuts"  [IsRoute]="IsRoute" [isLoadingProduct]="isLoadingProduct"></app-products>

     <!-- End Prodcuts -->
 
    <!-- section View -->


    <div class="viewAll p-5 d-flex align-items-center justify-content-between flex-wrap">
        <div class="infoView mx-4">
            <h2 class="fw-bolder"> +50 منتج في قمة الروعة والجمال </h2>
            <p class="fw-medium text-body-tertiary">شاهد اروع المنتجات لدينا الان التي تناسب زوقك وتلبي احتياجاتك</p>
            <button class="btnbuys">اكتشف المزيد</button>
        </div>

        <div class="gallary d-flex  gap-3">
               <div class="d-flex flex-column">
                <div id="carouselExampleControls" class="carousel carouselviewAll slide" data-bs-ride="carousel">
                    <div class="carousel-indicators indicatorView">
                        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    
                    <div class="carousel-inner  "  >
                        <div class="carousel-item ImageView  active">
                            <img src="assets/Image/session4.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item ImageView ">
                            <img src="assets/Image/session5.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item ImageView">
                            <img src="assets/Image/session6.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
               </div>
            <img src="assets/Image/session3.png" class="rounded session3 " alt="session3 Image" >
        </div>

  
     

    </div>
 


     

