
.sliderFav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px 0;
    
}
.sliderFav .slied {
    text-align: center;
    cursor: pointer;
}
.sliderFav .slied img{
    height: 500px;
    object-fit: fill;


    border-radius: 10px;
    filter: brightness(.5);
    transition: 1s ease-in-out all;

}
.btnFav{
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    padding: 15px 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #815e0d8f;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: 2s ease-in-out background-color;
    cursor: pointer;
    &:hover{
        background: #F9C335;
    }
}










.product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 35px ;
    gap: 40px;
}

.product .cardProdcut{
    width: 320px;
    border: 0.2px solid rgba(151, 151, 151, 0.311);
    text-align: start;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding: 30px 20px;
}
.product .cardProdcut img{
    height: 200px;
    object-fit: contain;

}
.cardBody{
   margin: 20px 0 ;
}

.cardBody h5{
    color: #000;
    font-weight: 700;
    margin: 10px 0 ;
    font-size: 24px;


}

.cardBody .disCount p{
    font-family: Tajawal;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);


}
.cardBody .disCount .beforeDec{
    font-family: Tajawal;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: center;
    color: rgba(0, 0, 0, 0.358);
}


.btnProdcut{
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size:  16px;
  
    background: #B88E2F;
    color: #fff;
    font-weight: 600;
    transition: 2s ease-in-out background-color;
}
.btnEye{
    border: none;
    outline: none;
    padding: 10px;
    background-color: #B88E2F;
    font-size:  16px;
    border-radius: 10px;

    border: 1px solid #ffffff;
    color: #ffffff;
}
.btnRoute{
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: 600;
    font-size:  16px;
 
   text-align: center;
    background: transparent;
    border: 2px solid #B88E2F;
    color: #B88E2F;
    font-weight: 600;
}
.btnRoute i{
    font-weight: 600;
}
.starColor{
    font-size: 20px;
    color: #F9C335;
    

}

.offter{
    font-size: 18px;
    color: #fff;
    background: rgba(255, 9, 230, 0.6);
    padding: 7px 20px;
    position: absolute;
    top: 0px ;
    right: 0px;
    border-radius: 4px;
    
}

.viewAll{
    background: rgba(252, 248, 243, 1);
    padding: 20px 20px;

}
.infoView h2{
    font-size: 35px;
    color: #000;
    font-weight: 700;
}
.carouselviewAll{
    width: 350px !important;
    position: relative;
}
.indicatorView{
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
   

}

.ImageView img{
    width: auto;
    height: 400px;
    object-fit: fill;
    border-radius: 5px;
}
.session3 {
    display: block;
}
@media screen and (max-width : 1200px) {
    .viewAll{
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        gap: 50px;
    }
}
@media screen and (max-width : 800px) {
    .session3 {
        display: none;
    }
    .indicatorView{
        justify-content: center;
    }
    .btnbuys{
        width: 80%;
    }
    .infoView h2{
        font-size: 28px;

    }

}
@media screen and (max-width : 400px) {
 
    .btnbuys{
        width: 100%;
    }

    .product{
        padding: 5px;
        margin-bottom: 30px;
    }


    .carouselviewAll[_ngcontent-ng-c2911606032] {
        
        width: 300px !important;
        margin-bottom: 50px;
    }

    .infoView h2{
        font-size: 25px;

    }
}
