<div class="p-2 editpass">
    <h4>تغير كلمه المرور</h4>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)" class="py-3 w-100">
      
      <!-- <div *ngIf="isloading">Loading...</div> -->
      
      <div class="mb-2 w-50 formInput">
        <label for="currentPassword" class="form-label mb-4">كلمة المرور الحالية</label>
        <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" placeholder="ادخل كلمة المرور الحالية">
        <div *ngIf="changePasswordForm.controls.currentPassword?.invalid && changePasswordForm.controls.currentPassword?.touched" class="text-danger">
          كلمة المرور غير صالحة.
        </div>
        <span *ngIf="changePasswordForm.get('currentPassword')?.errors?.['pattern']" class="text-danger mb-0">
          كلمة المرور ضعيفة (Ex: Mostafa&#64;123)
        </span>
      </div>
      
      <div class="inputsData d-flex gap-2 w-100">
        <div class="my-3 w-50 formInput">
          <label for="password" class="form-label mb-4">كلمة المرور الجديدة</label>
          <input type="password" class="form-control w-100" id="password" formControlName="password" placeholder="ادخل كلمة المرور الجديدة">
          <div *ngIf="changePasswordForm.controls.password?.invalid && changePasswordForm.controls.password?.touched" class="text-danger">
            يجب أن تبدأ بحرف كبير وتحتوي على 8 أحرف على الأقل.
          </div>
          <span *ngIf="changePasswordForm.get('password')?.errors?.['pattern']" class="text-danger mb-0">
            كلمة المرور ضعيفة (Ex: Mostafa&#64;123)
          </span>
        </div>
  
        <div class="my-3 w-50 formInput">
          <label for="rePassword" class="form-label mb-4">تأكيد كلمة المرور</label>
          <input type="password" class="form-control w-100" id="rePassword" formControlName="rePassword" placeholder="تأكيد كلمة المرور">
          <div *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.controls.rePassword?.touched" class="text-danger">
            كلمة المرور غير مطابقة.
          </div>
        </div>
      </div>
      
      <div class="d-flex formBtn gap-3">
        <button [disabled]="isloading || changePasswordForm.invalid" class="btns btnEdit">
          <span *ngIf="!isloading">تعديل كلمة المرور <i class="bi me-3 bi-pencil-square"></i></span>
          <span *ngIf="isloading">جارٍ تعديل كلمة المرور...</span>
        </button>
        <a routerLink="/Personal/me" class="btns text-bg-danger text-center">الغاء التغييرات</a>
      </div>
    </form>
  </div>
  