<div class="container-fluid p-md-5">
  <div class="fromUs d-flex justify-content-center">
    <div class="imgeFormUs">
      <img src="../../../assets/Image/personFrmus.png" alt="" />

      <i class="bi bi-stars starTop"></i>
      <i class="bi bi-stars starBottom"></i>
    </div>
    <div class="infoFroms">
      <h2>من نحن</h2>
      <p>
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من
        النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطب إذا كنت تحتاج
        إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما
        تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد
        لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن
        يطلع على صورة حقيقية لتصميم الموقع
      </p>
    </div>
  </div>

  <div class="goals my-5 py-5 px-2">
    <h2 class="fw-bolder fs-1 mb-3">نهدف الي تحقيق</h2>
    <p class="text-opacity-75 fw-medium">مجموعة من الاهداف نسعي لتحقيقها</p>

    <div
      class="goalsViews d-flex align-content-center justify-content-between my-5"
    >
      <div class="views d-flex align-content-center gap-3">
        <div class="viewsIcon">
          <i class="bi bi-passport-fill"></i>
        </div>
        <div class="infoViews">
          <h3>رؤيتنا</h3>
          <p>أن نكون من افضل مقدمي الخدمات في العالم</p>
        </div>
      </div>

      <div class="views d-flex align-content-center gap-3">
        <div class="viewsIcon">
          <i class="bi bi-asterisk"></i>
        </div>
        <div class="infoViews">
          <h3>مهمتنا</h3>
          <p>توفير المنتجات العصرية وكل ما يناسب العميل</p>
        </div>
      </div>
    </div>
  </div>

  <div class="accordionParendt">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item my-4">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            كيف يمكنني تتبع الشحنة؟
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
              هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو
              العديد من النصوص 
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item my-4">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            كيف يمكنني الشراء؟
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse "
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
              هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو
              العديد من النصوص 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
