/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Tajawal", system-ui;
    font-weight: 400;
  }
ul{
    list-style:     none;
}
a{
    text-decoration: none;
    transition: color 0.3s ease;
}
.custom-toast-zindex {
    z-index: 122229999 !important;  
  }