
    <!-- Products -->
    <app-banner [backgroundImage]="bannerImage" [TitlePage]="titlePage"></app-banner>
  
    <div class="d-flex align-content-end align-items-end justify-content-end m-5 custom-select h-25 position-relative">
      <select id="category" class="p-2 custom-dropdown" [(ngModel)]="selectedCategory" (change)="filterByCategory()">

        <option value="All">كل المنتجات</option>
        <option *ngFor="let category of products" [value]="category.depart">{{ category.depart }}</option>
      </select>
        <i class=" arrow-down bi bi-chevron-double-down"></i>
    </div>

    <app-products [Prodcuts]="paginatedProducts"  [IsRoute]="false" [isLoadingProduct]="loading"></app-products>


    

<div *ngIf="!loading && paginatedProducts.length > 0" class="allopreationPaga d-flex align-content-center justify-content-center">
    <div class="pagination-controls">
      <button
        class="BtnPagination"
        (click)="goToPreviousPage()"
        [disabled]="currentPage === 1"
      >
        السابق
      </button>
      <div class="page-info">
        <span class="current-page NumpageActive">{{ currentPage }}</span>
        <span
          class="current-page NumpageActive NumpageNotActive"
          *ngIf="currentPage < numberOfPages()"
          (click)="goToPage(currentPage + 1)"
        >
          {{ currentPage + 1 }}
        </span>
        <span
          class="current-page NumpageActive NumpageNotActive"
          *ngIf="currentPage < numberOfPages() - 1"
          (click)="goToPage(currentPage + 2)"
        >
          {{ currentPage + 2 }}
        </span>
      </div>
      <button
        class="BtnPagination"
        (click)="goToNextPage()"
        [disabled]="currentPage === numberOfPages()"
      >
        التالي
      </button>
    </div>

 
  </div>